body{
    background-color: #5fafaf;

}
.ax1{
    border-width: 1px;
    border-style: solid;
    border-color:red;
    margin-left: 50px;
}
.ax2{
    border-width: 1px;
    border-style: solid;
    border-color:red;
    margin-left: 50px;

}
.ax3{
    border-width: 1px;
    border-style: solid;
    border-color:red;
    margin-left: 50px;
    width: 30%;
}